@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  background-color: rgba(29, 43, 69, 0.7);
  display: flex;
  justify-content: center;
}

.icon {
  height: 25px;
}

/* Tùy chỉnh thanh cuộn */
div::-webkit-scrollbar {
  width: 8px; /* Độ rộng thanh cuộn dọc */
  height: 8px; /* Độ cao thanh cuộn ngang */
}

div::-webkit-scrollbar-thumb {
  background-color: gray; /* Màu của phần kéo */
  border-radius: 4px; /* Góc bo tròn */
}

div::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Màu nền của thanh cuộn */
}